/* begin Page */

/* Start Box */
.sd-box {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='sd-box-'+e[ i]}('br,bl,cr,cl,tr,tl'.split(',')));
}
.sd-box-body {
   zoom:1;
}
.sd-box-tl, .sd-box-tr, .sd-box-cl, .sd-box-cr, .sd-box-bl, .sd-box-br {
   position:absolute;
   display:block;
   top:0;
   bottom:0;
   background-repeat: no-repeat;
}
.sd-box-tl,.sd-box-bl,.sd-box-cl {
   left:0;
}
.sd-box-tr,.sd-box-br,.sd-box-cr {
   right:0;
}
.sd-box-cl, .sd-box-cr {
   background-repeat:repeat-y;
}
.sd-box-tl {
   background-position: top left;
   z-index:-3;
}
.sd-box-tr {
   background-position: top right;
   z-index:-3;
}
.sd-box-cl {
   background-position: center left;
   z-index:-3;
}
.sd-box-cr {
   background-position: center right;
   z-index:-3;
}
.sd-box-bl {
   background-position: bottom left;
   z-index:-3;
}
.sd-box-br {
   background-position: bottom right;
   z-index:-3;
}

.sd-box .sd-box-tl,.sd-box .sd-box-tr,.sd-box .sd-box-cl,.sd-box .sd-box-cr,.sd-box .sd-box-bl,.sd-box .sd-box-br{
   z-index:-2;
}
.sd-box .sd-box .sd-box-tl,.sd-box .sd-box .sd-box-tr,.sd-box .sd-box .sd-box-cl,.sd-box .sd-box .sd-box-cr,.sd-box .sd-box .sd-box-bl,.sd-box .sd-box .sd-box-br{
   z-index:-1;
}
/* End Box */

/* Start Bar */
.sd-bar {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='sd-bar-'+e[ i]}('r,l'.split(',')));
}
.sd-bar-l, .sd-bar-r {
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat-y;
}
.sd-bar-l {
   left:0;
   background-position: top left;
}
.sd-bar-r {
   right:0;
   background-position: top right;
}
/* End Bar */

/* end Page */

/* begin Menu */
.sd-nav {
   position: expression(runtimeStyle.position='relative');
}
.sd-nav>.sd-bar-l, .sd-nav>.sd-bar-r{
   background-image: url('images/nav.png');
}
.sd-nav>.sd-bar-l{
   right: 6px;
}
.sd-nav>.sd-bar-r{
   width: 6px;
}
.sd-hmenu ul li {
   float: left !important;
   width:100%;
}
.sd-hmenu>li 
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}

/* end Menu */

/* begin MenuItem */
ul.sd-hmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='sd-hmenu-'+e[ i]}('r,l'.split(',')));
}
ul.sd-hmenu>li>a>span.sd-hmenu-l, ul.sd-hmenu>li>a>span.sd-hmenu-r
{
   position: absolute;
   display: block;
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('images/menuitem.png');
}

ul.sd-hmenu>li>a>span.sd-hmenu-l
{
   left: 0;
   right: 12px;
   background-position: top left;
}

ul.sd-hmenu>li>a>span.sd-hmenu-r
{
   width: 12px;
   right: 0;
   background-position: top right;
}

ul.sd-hmenu>li>a:hover>span.sd-hmenu-l, ul.sd-hmenu>li:hover>a>span.sd-hmenu-l {
   background-position: center left;
}
ul.sd-hmenu>li>a:hover>span.sd-hmenu-r, ul.sd-hmenu>li:hover>a>span.sd-hmenu-r {
   background-position: center right;
}
ul.sd-hmenu>li>a:hover, ul.sd-hmenu>li:hover>a{
   color: #061B32;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.sd-hmenu>li:first-child {
   padding-right:13px;
}
ul.sd-hmenu>li>span.sd-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -13px;
   width: 13px;
   height: 29px;
   background: url('images/menuseparator.png') center center no-repeat;
}
/* end MenuSeparator */

/* begin Header */
.sd-header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='sd-header-png');
   z-index: 1;
}

.sd-header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 151px;
   background-image: url('images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin Box, Sheet */
.sd-sheet>.sd-box-tl, .sd-sheet>.sd-box-tr{
   background-image: url('images/sheet_t.png');
}
.sd-sheet>.sd-box-bl, .sd-sheet>.sd-box-br {
   background-image: url('images/sheet_b.png');
}
.sd-sheet>.sd-box-tl, .sd-sheet>.sd-box-bl, .sd-sheet>.sd-box-cl{
   right:6px;
}
.sd-sheet>.sd-box-tr, .sd-sheet>.sd-box-br, .sd-sheet>.sd-box-cr{
   width: 6px;
}
.sd-sheet>.sd-box-cl, .sd-sheet>.sd-box-cr{
   top:6px;
   bottom:6px;
   background-image:url('images/sheet.png');
}
/* end Box, Sheet */

/* begin Layout */
.sd-content-layout, .sd-content-layout-row, .sd-layout-cell 
{
   display: block;
   zoom: 1;
}
.sd-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin BlockHeader */
.sd-blockheader>.sd-bar-l, .sd-blockheader>.sd-bar-r{
   background-image: url('images/blockheader.png');
}
.sd-blockheader>.sd-bar-l{
   right: 24px;
}
.sd-blockheader>.sd-bar-r{
   width: 24px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.sd-blockcontent>.sd-box-tl, .sd-blockcontent>.sd-box-tr{
   background-image: url('images/blockcontent_t.png');
}
.sd-blockcontent>.sd-box-bl, .sd-blockcontent>.sd-box-br {
   background-image: url('images/blockcontent_b.png');
}
.sd-blockcontent>.sd-box-tl, .sd-blockcontent>.sd-box-bl, .sd-blockcontent>.sd-box-cl{
   right:1px;
}
.sd-blockcontent>.sd-box-tr, .sd-blockcontent>.sd-box-br, .sd-blockcontent>.sd-box-cr{
   width: 1px;
}
.sd-blockcontent>.sd-box-cl, .sd-blockcontent>.sd-box-cr{
   top:1px;
   bottom:1px;
   background-image:url('images/blockcontent.png');
}
/* end Box, BlockContent */

/* begin PostIcons, PostHeaderIcons */
.sd-postheadericons span{
   zoom: 1;
}/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.sd-postcontent {
   height: 1%;
}
/* end PostContent */

/* begin PostIcons, PostFooterIcons */
.sd-postfootericons span{
   zoom: 1;
}/* end PostIcons, PostFooterIcons */

/* begin Footer */
.sd-footer {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='sd-footer-'+e[ i]}('r,l,t'.split(',')));
}
.sd-footer-body 
{
   zoom: 1;
   padding-right: 0;
}

.sd-footer-t
{
   position: absolute;
   z-index:-1;
   left:0;
   right:0;
   top:0;
   bottom:3px;
   background-image: url('images/footer.png');
   background-position:bottom left;
}

.sd-footer-l, .sd-footer-r 
{
   position: absolute;
   content:' ';
   z-index:-1;
   bottom:0;
   height:3px;
   background-image: url('images/footer_b.png');
}

.sd-footer-l
{
   left:0;
   right:3px;
   background-position: top left;
}

.sd-footer-r
{
   right:0;
   width:3px;
   background-position: top right;
}
/* end Footer */

/* begin LayoutCell, content */
.sd-sidebar1 
{
   width: auto;
   float:none;
}
/* end LayoutCell, content */

