/* begin Page */

/* Created by Artisteer v3.1.0.48375 */

.cleared {
   width:1px;
}
/* Start Box */
.sd-box, .sd-box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.sd-bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Menu */
ul.sd-hmenu, ul.sd-hmenu ul, ul.sd-hmenu li, ul.sd-hmenu a {
   zoom:1;
}
.sd-hmenu li.sd-hmenuhover{
   z-index: 10000;
}
.sd-hmenu .sd-hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.sd-hmenu .sd-hmenuhoverUL .sd-hmenuhoverUL{
   top: 0;
   left: 100%;
}
.sd-hmenu ul li {
   float: left !important;
   clear: both;
   width: 100%;
}
.sd-nav
{
   zoom: 1;
   height: 42px;
   background:#1D2535;
}

/* end Menu */

/* begin MenuItem */
.sd-hmenu a 
{
   display:inline-block;
   color: #DBE0EB;
   background-color:#495F88;
   padding: 0 12px;
   line-height: 29px;
   text-align: center;
}

.sd-hmenu a.active 
{
   color: {ActiveTextColor};
}

.sd-hmenu a:hover, .sd-hmenuhoverA,  .sd-hmenuhover a 
{
   color: #061B32;
   background-color:#5974A6;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.sd-hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'13px');
}
ul.sd-hmenu li li{
   margin-left:0;
}

span.sd-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -13px;
   width: 13px;
   height: 29px;
   background: url('images/menuseparator.png') center center no-repeat;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.sd-hmenu ul a 
{
   color: #121721 !important;
   float: left;
}

.sd-hmenu ul a:hover, .sd-hmenu ul .sd-hmenuhover .sd-hmenuhoverA 
{
   color: #CDE1F9 !important;
   background-position: left bottom;
   border-color: #495F88;
   border-top-width: 1px !important;
}

/* end MenuSubItem */

/* begin Header */
.sd-header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='sd-header-png');
   z-index: 1;
}

.sd-header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 151px;
   background-image: url('images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin Box, Sheet */
.sd-sheet {
   background:#2B3850;
}
/* end Box, Sheet */

/* begin Layout */
.sd-content-layout, .sd-content-layout-row, .sd-layout-cell 
{
   display: block;
   zoom: 1;
}
.sd-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Button */
.sd-button-wrapper{
   zoom: 1;
}
.sd-button-wrapper .sd-button-l, .sd-button-wrapper .sd-button-r {
   display: none;
}
.sd-button-wrapper .sd-button {
   float: left;
}
/* end Button */

/* begin Box, Block */
.sd-block {
   background:#2B3850;
}
/* end Box, Block */

/* begin BlockHeader */
.sd-blockheader {
   background:#46629C;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.sd-blockcontent {
   background:#A8ADB7;
}
.sd-blockcontent-body ul li{
   height: 1%;
}

/* end Box, BlockContent */

/* begin Box, Post */
.sd-post {
   background:#2B3850;
}
/* end Box, Post */

/* begin PostIcons, PostHeaderIcons */
.sd-postheadericons span{
   zoom: 1;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.sd-post ul li, .sd-post ol ul li
{
   height: 1%;
   padding-left: 16px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.sd-post ul ol li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostIcons, PostFooterIcons */
.sd-postfootericons span{
   zoom: 1;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.sd-footer-body{
   padding-right: 0;
   zoom:1;
}
.sd-footer{
   zoom:1;
   background:#273349;
}

.sd-footer-text
{
   height: 5px;
}

/* end Footer */

/* begin LayoutCell, content */
.sd-sidebar1 {
   width: auto;
}
/* end LayoutCell, content */

